name            = "sandbox"
aws_region      = "us-east-1"
ecr_image       = "111111111111.dkr.ecr.us-east-1.amazonaws.com/user-service:REPLACE"

subzone_name      = "innovation.fostercareca.com"
api_parent_domain = "api.innovation.fostercareca.com"
